<!-- scheduler/templates/scheduler/create_recurring_event.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Создание циклического мероприятия{% endblock %}

{% block content %}
<style>
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .schedule-table th, .schedule-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    position: relative;
  }

  .schedule-table th {
    background-color: #f2f2f2;
    color: #555;
  }

  .schedule-table td {
    background-color: #fff;
  }

  .schedule-table td input[type="checkbox"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
  }

  @media (max-width: 600px) {
    .schedule-table th, .schedule-table td {
      padding: 8px;
      font-size: 12px;
    }

    .schedule-table th {
      font-size: 12px;
    }
  }
</style>


<div class="container">
  <h1>Создание циклического мероприятия</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.room.id_for_label }}">{{ form.room.label }}</label>
      {{ form.room }}
    </div>
    <div class="form-group">
      <label for="{{ form.week_type.id_for_label }}">{{ form.week_type.label }}</label>
      {{ form.week_type }}
    </div>

    <h2>Расписание</h2>
    <table class="schedule-table">
      <thead>
        <tr>
          <th></th>
          <th>Пн</th>
          <th>Вт</th>
          <th>Ср</th>
          <th>Чт</th>
          <th>Пт</th>
          <th>Сб</th>
          <th>Вс</th>
        </tr>
      </thead>
      <tbody>
        {% for period, times in periods.items %}
          <tr>
            <td><strong>{{ times }}</strong></td>
            {% for day in days %}
              <td>
                <input type="checkbox" name="{{ day }}-{{ period }}" id="{{ day }}-{{ period }}">
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <button type="submit" class="btn">Создать мероприятие</button>
  </form>
</div>
{% endblock %}
