<!-- scheduler/templates/scheduler/recurring_event_detail.html -->
{% extends "base.html" %}
{% block title %}Детали циклического мероприятия{% endblock %}

{% block content %}
  <h1>{{ event.name }}</h1>
  <p><strong>Описание:</strong> {{ event.description }}</p>
  <p><strong>Время начала:</strong> {{ event.start_time }}</p>
  <p><strong>Время окончания:</strong> {{ event.end_time }}</p>
  <p><strong>День недели:</strong> {{ event.get_weekday_display }}</p>
  <p><strong>Расположение:</strong> {{ event.location }}</p>
{% endblock %}
